body {
  background-color: #dac292;
  font-weight: bold;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

div {
  width: 400px;
  margin: auto;
}

h1 {
}

button {
  display: block;
  border: none;
  padding: 10px 20px;
  background-color: aqua;
  width: 100%;
  margin: 5px auto;
  border-radius: 10px;
}

button:hover {
  background-color: blueviolet;
}

#questionbox {
  background-color: #b9936c;
  padding: 20px;
  font-size: x-large;
}

#questionboxcontainer {
}
